.Auth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
}

.Auth>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* leftside */
.a-left{
    gap: 2rem;
}

.a-left>img{
    width: 7rem;
    height: 4rem;
}

.Webname>h1{
    font-size: 3.5rem;
    background-color: rgb(236, 189, 200);

    /* Create the gradient */
    background-image: var(--butonBg);

    /* Set the background size and repeat properties */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background */
    /* This will show the gradient as a text color  */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.Webinar>h6{
    font-size: 1rem;
}

.info-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.info-input{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.info-form>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.info-btn{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}

.authForm{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.authForm>div{
    width: 100%;
    align-items: center;
    justify-content: center;
}

